.m-background
  .m-background__inner(style='background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22914/received_10154360836381045.jpeg)')
  .m-background__inner(style='background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22914/20141129-23131415.jpg)')
    .m-background__inner(style='background-image:url(http://trickgs.com/blog/wp-content/uploads/2014/07/html_css.png)')
.m-intro
  .m-intro__textWrap
    h1#arden
